<div class="container">
  <div class="row">
    <div class="col-md-3 col-xs-12 col-sm-6" *ngFor="let item of dataList;">
      <div class="card p-3 my-2">
        <img class="card-img-top" [src]="item.links.mission_patch_small" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.mission_name}}</h5>
          <strong>Mission Ids <small class="text-muted">{{item.mission_id}}</small></strong><br>
          <strong>Launch Year <small  class="text-muted">{{item.launch_year}}</small></strong><br>
          <strong>Successful Launch <small class="text-muted">{{item.launch_success}}</small></strong><br>
          <strong>Successful Landing <small class="text-muted"></small></strong>
        </div>
      </div>
    </div>
  </div>
</div>